[Desktop Entry]
Exec=rm ~/.mozilla/firefox/fuy0mmra.default-release-1677562633168/sessionstore-backups/recovery.* ~/.mozilla/firefox/fuy0mmra.default-release-1677562633168/sessionstore.js
Icon=tab-close
Name=Remove Firefox session
Terminal=False
Type=Application
