[Desktop Entry]
Exec=/usr/bin/rm ~/.mozilla/firefox/fuy0mmra.default-release-1677562633168/sessionstore-backups/* ~/.mozilla/firefox/fuy0mmra.default-release-1677562633168/sessionstore.js
Name=Remove Firefox session
Terminal=false
Type=Application
